effects {
  .card-header {
    padding: 8px;
    .fab {
      display: inline-block;
      margin: 0;
      font-size: x-large;
      padding-top: 1px;
    }
    .effect-title {
      margin-left: 4px;
      vertical-align: bottom;
      font-size: 20px;
    }
  }
}
