$font-path: "../assets/fonts";
@import "ionic.globals";

$colors: (
  primary: #488aff,
  critical: #32db64,
  fumble: #f53d3d
);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
@import "icons";
