$font-path: "../assets/fonts";
@import "ionic.globals";

$colors: (
  primary: #52b3d9,
  critical: #90c695,
  fumble: #e74c3c,
  light: #f4f4f4
);

@import "ionic.theme.default";
@import "ionicons";
@import "roboto";
@import "noto-sans";
@import "icons";
