<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon class="icon-menu"></ion-icon>
    </button>
    <ion-title>Glossary</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Glossary</h3>

  <ion-item-group *ngFor="let section of ruletips">

    <ion-item-divider color="light">{{section.name}}</ion-item-divider>

    <button ion-item
            *ngFor="let ruletip of section.ruletips"
            (click)="displayRuletip(ruletip.title, ruletip.text)">
      {{ruletip.title}}
    </button>
  </ion-item-group>

</ion-content>
